html,
body {
	all: unset;
	height: 100%;
	width: 100%;
}

main {
	padding: 1rem;
}

.green {
	border: solid 2px chartreuse;
	padding: 1rem;
}

.red {
	border: solid 2px red;
	padding: 1rem;
}
