{
	"extends": ["next/core-web-vitals", "plugin:storybook/recommended", "plugin:@typescript-eslint/recommended", "prettier"],
	"plugins": ["@typescript-eslint", "prettier"],
	"rules": {
		"prettier/prettier": [
			"error"
		]
	}
}